h1 {
    color: goldenrod;
    text-align: center; 
    font-size: 50px; 
    color: aqua"
}

.button-container {
    text-align: center;
    padding: 20px;          
}
#timer {
    text-align: center; 
    font-size: 60px; 
    color: "white";
    padding: 10px;
}
#container {       
    text-align: center;
    min-height: 100vh;
    padding: 20px;
}